@charset "UTF-8";

body {	
	font-family: open sans, Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #ccc;
}

h1,h2,h3,h4{
	text-align: center;
}

.hidden{ display: none; }

#siteContainer{
	margin: 0 auto;
	width: 1080px;
	background-color: white;
}

#mainHeader{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1080px;
	height: 85px;
	background-color: #fff;
}

#logoCon{
	padding-top: 15px;
	padding-left: 30px;
}

#navCon{
	width: 100%; 
	padding-right: 30px;
}

#navCon ul {
	list-style-type: none; 
	padding: 0;
	margin:0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#navCon ul li {
	float: left;
	width: 20%; 
	position: relative;
	text-align: center;;
 }

#navCon ul li a {
	padding: 10px 0;
	color: #222c8c;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none; 
	display: block;
	width: 100%;
	text-align: center;
 }

#navCon ul li a:hover{ color: #dba868;}

#navCon ul li:after{
	content: ''; 
	width: 1px;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	right: 0;
}

#navCon ul li:last-child:after{ display: none;}

#socialCon{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 30px;
	height: 150px;
	background-color: #bcbcc1;
	align-items: center;
}
#smallLogo {
    height:100%;
}
#smallLogo img{
    height:100%;
}


#social{
	display: flex;
	flex-direction: column;
}

#social a{
	font-size: 24px;
	font-family: 'Monoton', cursive;;
	text-decoration:none;
	color: white;
}

#subscribe h2{color: white;}

#email,input{
	border-style: none; 
	border-left-width: 2px;
	border-left-color: grey;
	border-left-style: solid;
	border-bottom: 2px grey solid;
	background-color: #bcbcc1;
}

#footerCon{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 10px;
	height: 50px;
	background-color:#222c8c;
}

#footerCon a{ color: white;}



#bannerContact{
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
	background-image: url('../images/bg.jpg');
	background-repeat:  no-repeat;  
	background-position: right center;
	background-size: 100% auto;
	position: relative;  
	display: flex;
    flex-wrap:wrap;
    justify-content:center;
	align-content: space-around;
}

#bannerContact .links{
    width:400px;
	height: 50px;
	font-family: 'Monoton', cursive;
    display: flex;
    align-items: center;
}

#bannerContact .links p, #bannerContact .links a{
    text-decoration:none;
	font-size: 24px;
    width:100%;
    text-align:center;
	font-family: 'Monoton', cursive;
    cursor:pointer;
    color:#222c8c;
    transition:all .5s;
}
#bannerContact .links a:hover{
    font-size:28px;
}

#bannerContact .LogoInfo{ 
    width:900px;
}
#bannerContact .MottoInfo{ 
    width:500px;
}

#contInfo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.imgCon{ padding-bottom: 30px;}

section input {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    display: block;
    margin-bottom: 30px;
}

section input:focus {
	outline: 0;
	border:2px dashed grey; 
}

 .animate { 
 	stroke-dasharray: 1500; 
 	stroke-dashoffset: 1500; 
 	animation: drawIt 10s linear forwards; 
 }

  @keyframes drawIt {
  to { stroke-dashoffset: 0; }
  }

 .animateloop .cls-1{ 
 	fill:#22235e; 
 	animation: colorchangeloop 1s; 
 	animation-iteration-count: infinite; 
 }

@keyframes colorchangeloop {
    0%   {fill:#22235e;}
    50%  {fill: #fff;}
    100% {fill:#22235e;}
}
        
#AboutUs { 
	display: flex; 
	flex-wrap: wrap; 
	padding:30px; 
}
.Beer { 
	width: 50%; 
	position: relative; 
	min-height: 600px; 
}
.Beer img { 
	width: 100%; 
	position: absolute; 
}
                
.Beer img.bubble { 
	top: 0; 
	left: 0; 
	opacity: 0;
}
.Beer img.bubble1 { 
	top: 0; 
	left: 0; 
	opacity: 0; 
	animation: show 5s linear forwards;
}
@keyframes show {
to { opacity: 1; }
}

.Beer img.empty {
	top: 89px; 
	left: 4px; 
	opacity: 1;
}
            
.Beer img.empty0 { 
	top: 89px; 
	left: 4px; 
	opacity: 1;
	 animation: hide 5s linear forwards;
	}
 @keyframes hide {
 to { opacity: 0; }
 }
.AboutUscontent {
	position:relative; 
	width: 30%; 
	padding:2%; 
	color:#fff; 
	font-size: 1.5em;
	/*background:url(../images/promo-image1.jpg) no-repeat;*/
	background-size:100% auto; 
    animation: colorchange 10s linear forwards; 
}
@keyframes colorchange {
to { color: black; }
}

.AboutUscontent svg{ 
	width:260px; 
	position:absolute; 
	right:40px; 
	top:200px;
}
